$breakpoints: (
  "mobile": (
    max-width: 575px,
  ),
  "tablet": (
    min-width: 576px,
  ),
  "laptop": (
    min-width: 960px,
  ),
) !default;

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}
