:root {
  --color-light-blue: #8ecae6;
  --color-blue: #219ebc;
  --color-dark-blue: #023047;
  --color-yellow: #ffb703;
  --color-orange: #fb8500;
  font-family: sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background-color: var(--color-dark-blue);
}

a {
  color: var(--color-light-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-light-blue);
}
